<%- include('header.ejs') %>
<title>ERROR</title>

<div class="container">
    <div class="spacer"></div>
    <h2>ERROR</h2>
    <div class="spacer"></div>
    <p>Error: <%= msg %></p>
    <div class="spacer"></div>
</div>

<%- include('footer.ejs') %>