

</div>

</div>
<div class="container header-container">
    <!-- <div style="background-color: #33658A; width: 100%; height: 100%;"></div> -->
    <div class="container title-container">
        <a href="/" class="container" style="text-decoration: none; width: 100%; height: 100%; align-items: start;">
        </a>
    </div>
    <div></div>
    <div class="container" style="height: 60%; margin-top: 2vh; margin-bottom: 1vh;">
        <a target="_blank" href="https://www.reddit.com/r/WUDDLE"><img style="width: calc(4vh + 0.6vw); background-color: white; border-radius: 100%;" src="/images/reddit.png"></a>
    </div>
    <div>
</div>
</div>
</div>
</body>
</html>