    <div class="container socials-container" style="flex-direction: row; align-items: end; justify-content: end; margin-top: 2vh;">
        <a target="_blank" href="https://www.reddit.com/r/WUDDLE"><img style="width: calc(4vh + 0.6vw); background-color: white; border-radius: 100%;" src="/images/reddit.png"></a>
        <div class="spacer"></div>
    </div>
</div>
</div>
</div>
</body>
</html>