<!DOCTYPE html>
<html>
<head>
    <!-- FOR WHATEVER REASON when using dynamic routes, you need a / at the start of the CSS link -->
    <link href="/css/styles.css" rel="stylesheet">
    <title>Wuddle</title>
</head>

<body>
    <div class="container entire-container">
        <div class="container page-container">
            <div class="container header-container">
                <div></div>
                <div class="container title-container">
                    <h1 class="title">
                        WUDDLE!
                    </h1>
                </div>
                <div></div>
            </div>
            <div class="container content-container">
                
            <!-- </div>
        </div>
    </div>
</body>
</html> -->