<script src="js/script.js"></script>
<script>
    if (document.cookie.includes("roomID")) {
        // alert("It looks like you already have an ongoing game. Click 'submit' to redirect");
        const cookieValue = document.cookie
        .split("; ")
        .find((row) => row.startsWith("roomID="))
        ?.split("=")[1];

        window.location.replace("/rooms/" + cookieValue + "/");
    }
</script>

<%- include('header.ejs') %>
<div class="container landing-container">
    <div class="container">
        <h2>
            WELCOME
        </h2>
    </div>
    <div class="container landing-options-container">
        <div>
            <a href="/create"><button class="room-button">Create a Room</button></a>
        </div>
        <div>
            <h3 class="or">OR</h3>
        </div>
        <div>
            <form class="room-code-form" action="/" method="post">
                <input type="text" class="room-code" name="roomID" placeholder="Room Code" size="8" maxlength="8" required>
                <button type="submit" class="room-button">Join a Room</button>
            </form>
        </div>
    </div>
</div> 
<%- include('footer.ejs') %>
