<%- include('headerWithIndexing.ejs') %>
<title>WUDDLE! | Custom BINGO Boards With Friends</title>

    <div class="container">
        <div class="roomName-container">
            <div class="spacer"></div>
            <h2>CUSTOM BINGO BOARDS WITH FRIENDS</h2>
            <div class="spacer"></div>
        </div>
        <% if (rooms.length < 2) { %>
            <div class="container brief-instructions-container">
                <div class="container join-container">
                    <h3>Join!</h3>
                    <p class="instruction">
                        Join a game with all your friends for an upcoming party, trip, or other fun event!
                    </p>
                </div>
                <div class="container guess-container">
                    <h3>Guess!</h3>
                    <p class="instruction">
                        Enter a prediction for something that will happen during the event. This can be anything from a frequent gag to a true psychic vision!
                    </p>
                </div>
                <div class="container check-container">
                    <h3>Check!</h3>
                    <p class="instruction">
                        Check off events from your personal random board as they happen. Finishing any line is a win and lets you play again!
                    </p>
                </div>
            </div>
            <div><h2 style="font-size: calc(6vh + 3vw);">↓</h2></div>
        <% } %>
        <div class="container landing-options-container">
            <div>
                <h3 class="or">CREATE A GAME</h3>
            </div>
            <div>
                <a href="/create"><button class="room-button">New Game</button></a>
                <a href="/examples"><button class="room-button">Create From Example</button></a>
            </div>
            <div class="spacer"></div>
            <div>
                <h3 class="or">JOIN A GAME</h3>
            </div>
            <div>
                <form class="room-code-form" action="/" method="post">
                    <input type="text" class="room-code" name="roomID" placeholder="Room Code" size="10" maxlength="8" autocomplete="off" autocorrect="off" required>
                    <button type="submit" class="room-button" style="font-weight: normal;">Join a Game</button>
                </form>
            </div>
        </div>
        <div class="container">
            <hr style="border: 1px solid black; width: 65%;">
        </div>
        <% if (rooms.length > 0) { %>
            <div class="container my-rooms-container">
                <div class="my-rooms-text">
                    <h2>My Games</h2>
                </div>
                <div class="container create-sub-container">
                    <div class="my-rooms-row">
                        <% for (let i = 0; i < rooms.length; i++) { %>
                            <% if (i > 0 && i % 3 == 0) { %>
                                </div>
                                <div class="my-rooms-row">
                            <% } %>
                            <a href="/rooms/<%=rooms[i].ID%>/"><button class="my-rooms-button"><%= rooms[i].Name %></button></a>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } else if (!signedIn) { %>
            <div class="container my-rooms-container create-sub-container">
                <p class="p-info been-here">Been here before?</p>
                <div><h2 style="font-size: calc(6vh + 3vw);">↓</h2></div>
                <div class="container my-rooms-text create-sub-container">
                    <h2>Sign In</h2>
                </div>
                <div class="container create-sub-container">
                    <form action="/sign-in" method="post">
                        <input type="text" name="playerID" placeholder="Player Code" class="player-id-input" maxlength="8" autocomplete="off" autocorrect="off">
                        <button type="submit" class="room-button" style="font-weight: normal;">Sign In</button>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
</div> 

<%- include('footer.ejs') %>
