<%- include('header.ejs') %>
    <div class="container">
        <div class="roomName-container">
            <div class="spacer"></div>
            <h2>WELCOME To WUDDLE!</h2>
            <div class="spacer"></div>
        </div>
        <% if (rooms.length == 0) { %>
            <div class="container brief-instructions-container">
                <div class="container join-container">
                    <h3>Join!</h3>
                    <p class="instruction">
                        Join a room with all your friends for an upcoming party, trip, or other fun event!
                    </p>
                </div>
                <div class="container guess-container">
                    <h3>Guess!</h3>
                    <p class="instruction">
                        Enter a prediction for something that will happen during the event. This can be anything from a frequent gag to a true psychic vision!
                    </p>
                </div>
                <div class="container check-container">
                    <h3>Check!</h3>
                    <p class="instruction">
                        Check off events from your personal random board as they happen. Finishing any line is a win and lets you play again!
                    </p>
                </div>
            </div>
            <div><h2 style="font-size: calc(6vh + 3vw);">↓</h2></div>
        <% } %>
        <div class="container landing-options-container">
            <div>
                <a href="/create"><button class="room-button">Create a Game</button></a>
            </div>
            <div>
                <h3 class="or">OR</h3>
            </div>
            <div>
                <form class="room-code-form" action="/" method="post">
                    <input type="text" class="room-code" name="roomID" placeholder="Room Code" size="10" maxlength="8" autocomplete="off" autocorrect="off" required>
                    <button type="submit" class="room-button" style="font-weight: normal;">Join a Game</button>
                </form>
            </div>
        </div>
        <% if (rooms.length > 0) { %>
            <div class="container my-rooms-container">
                <div class="my-rooms-text">
                    <h2>My Rooms</h2>
                </div>
                <div class="my-rooms-row">
                    <% for (let i = 0; i < rooms.length; i++) { %>
                        <% if (i > 0 && i % 3 == 0) { %>
                            </div>
                            <div class="my-rooms-row">
                        <% } %>
                        <a href="/rooms/<%=rooms[i].ID%>/"><button class="my-rooms-button"><%= rooms[i].Name %></button></a>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</div> 

<%- include('footer.ejs') %>
