<%- include('header.ejs') %>
    <div class="container">
        <div class="roomName-container">
            <div class="spacer"></div>
            <h2>WELCOME To WUDDLE!</h2>
            <div class="spacer"></div>
        </div>
        <div class="container pitch-container">
            <p class="pitch">
                The never-ending game of predictions, friends, and fun!
            </p>
        </div>
        <div class="container info-container">
            <h3 class="info-header">JOIN</h3>
            <div class="container join-info-container">
                <p class="p-info">
                    Enter a game from the home page, either by creating a game or joining one with a room code.
                    A game is designed to be played over the course of an event, be it hours, weeks, or years long!
                </p>
            </div>
        </div>
        <div class="container info-container">
            <h3 class="info-header">GUESS</h3>
            <div class="container guess-info-container">
                <p class="p-info">
                    Show what you know about your fellow players and guess what will happen during the event! 
                    For example, if the event is a movie night, guess that someone will fall asleep 😴 
                </p>
                <p class="p-info"> 
                    Every new player contributes an event, and you can add more at any time from the 'All Boards' page.
                </p>
            </div>
        </div>
        <div class="container info-container">
            <h3 class="info-header">CHECK</h3>
            <div class="container check-info-container">
                <p class="p-info">
                    As the group's predictions come true, mark off each event that happens on
                    your personal, random board. Completing any line on your board lets you reset for a new one!
                </p>
                <p class="p-info">
                    Every completion earns you one crown, shown on the 'All Boards' page. See how many you can rack up!
                </p>
            </div>
        </div>
        <div class="container info-container">
            <h3 class="info-header">CHAT</h3>
            <div class="container chat-info-container">
                <p class="p-info">
                    Check the room's chat page to see who is checking off their events, and to keep up with your friends!
                </p>
            </div>
        </div>
        <div class="container info-container">
            <h3 class="info-header">RETURN</h3>
            <div class="container login-info-container">
                <p class="p-info">
                    Your User ID is stored in this browser with a cookie, so whenever you go to play-wuddle.com 
                    you'll be remembered! See all your ongoing games in the home screen and create more whenever you want.
                </p>
                <p class="p-info">
                    Want to open your account on another device? Updates coming soon to let you transition smoothly.
                </p>
            </div>
        </div>

    </div>


<%- include('footer.ejs') %>