<%- include('header.ejs') %>
    <div class="container">
        <div class="roomName-container">
            <div class="spacer"></div>
            <h2>WELCOME To WUDDLE!</h2>
            <div class="spacer"></div>
        </div>
        <div class="container pitch-container">
            <p class="pitch">
                The never-ending game of predictions, friends, and fun!
            </p>
            <p class="pitch">
                Guess what crazy antics your fellow players will get into,
                and rack up the points as they happen!
            </p>
        </div>
        <div class="container info-container">
            <h3 class="info-header">JOIN</h3>
            <div class="container join-info-container">
                <p class="p-info">
                    Enter a game from the <a href="/">home page</a>, either by <a href="/create">creating a game</a> or <a href="/">joining one</a> with a room code.
                    A game is designed to be played over the course of an event, be it <span style="font-weight: bold;">hours, weeks, or years long!</span>
                </p>
            </div>
        </div>
        <div class="container info-container">
            <h3 class="info-header">GUESS</h3>
            <div class="container guess-info-container">
                <p class="p-info">
                    Show what you know about your fellow players and <span style="font-weight: bold;">guess what will happen</span> during the event! 
                    For example, if the event is a movie night, say "James falls asleep first 😴" 
                </p>
                <p class="p-info"> 
                    Every new player contributes a prediction, and you can <span style="font-weight: bold;">add more at any time</span> from the 'All Boards' page.
                </p>
            </div>
        </div>
        <div class="container info-container">
            <h3 class="info-header">CHECK</h3>
            <div class="container check-info-container">
                <p class="p-info">
                    As the group's predictions come true, <span style="font-weight: bold;">mark off each guess</span> that happens on
                    your personal, random board. 
                </p>
                <p class="p-info"> 
                    After you <span style="font-weight: bold;">Complete a line</span> on your board, you can <span style="font-weight: bold;">'reset' for a new board</span> with guesses randomly pulled from the pool.
                </p>
                <p class="p-info">
                    Every completion earns you one crown, shown on the 'All Boards' page. See how many you can rack up!
                </p>
                <p class="p-info">
                    To make it more fun for everyone, <span style="font-weight: bold;">don't intentionally influence</span> the predictions you see on your board.
                    Let it happen!
                </p>
            </div>
        </div>
        <!-- <div class="container info-container">
            <h3 class="info-header">CHAT</h3>
            <div class="container chat-info-container">
                <p class="p-info">
                    Check the room's chat page to see who is checking off their events, and to keep up with your friends!
                </p>
            </div>
        </div> -->
        <div class="container info-container">
            <h3 class="info-header">RETURN</h3>
            <div class="container login-info-container" style="margin-bottom: 2vh;">
                <p class="p-info">
                    Your User ID is stored in this browser with a cookie, so whenever you go to <a href="/">play-wuddle.com</a> your progress
                    <span style="font-weight: bold;">will be remembered!</span> See all your ongoing games in the <a href="/">home page</a> and <a href="/create">create more</a> whenever you want.
                </p>
                <p class="p-info">
                    Want to open your account on another device? Simply navigate to the <a href="/">home page</a> and enter your Player Code under 'Sign in'.
                </p>
            </div>
        </div>

    </div>


<%- include('footer.ejs') %>