<div class="container view-selector">
    <button class="unselected">
        <a href="/rooms/<%=roomID%>/my-board">My Board</a>
    </button>
    <div class="spacer"></div>
    <button class="selected">
        <a href="/rooms/<%=roomID%>/boards">All Boards</a>
    </button>
    <div class="spacer"></div>
    <button class="unselected">
        <a href="/rooms/<%=roomID%>/chat">Chat</a>
    </button>
</div>