<h1>Signup</h1>

<form action="/rooms/<%= roomID %>/signup" method="post">
    <input type="text" id="displayName" name="displayName" placeholder="Display Name">

    <button type="submit">Join Game!</button>
</form>