@font-face {
  font-family: 'lazy_dog';
  src: url('../fonts/Lazydog.otf');
}

html{
  background-color: #33658A;
  /* background: repeating-linear-gradient( 45deg, #1c364a, #1c364a 20px, #33658A 20px, #33658A 100px ); */
  background: url(/images/background5.png);
  background-size: 90%;
}  /* background-color: #33658A; */

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.entire-container {
  height: 100%;
  justify-content: flex-start;
  padding-bottom: calc(3vh + 2vw);
}

.page-container {
  width: 92%;
  height: 95%;
  /* display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 100%; */
}


.header-container {
  height: auto;
  display: grid;
  grid-template-columns: 30% 59% 9% 2%;
}

/* @supports not (grid-template-columns: 1fr) {
  .header-container {
    height: 10000px;
  }
} */

.info {
  width: calc(4vh + 0.2vw);
  filter: invert(100%) sepia(13%) saturate(7500%) hue-rotate(204deg) brightness(114%) contrast(112%); 
}

.info-header {
  font-size: calc(3.5vh + 1vw);
}

.pitch {
  margin-top: 1vh;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: calc(1.5vh + 1vw);
}

.p-info {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: calc(1vh + 1vw);
  text-align: center;
}

.pitch-container {
  width: 80%;
}

.info-container {
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: calc(20vh + 45vw);
}

.title-container {
  display: inline-block;
  height: 100%;
  align-items: start;
  justify-content: center;
}

.title {
  text-align: left;
  height: auto;
  color: white;
  /* background-color: #33658A; */
  background-color: rgba(51, 101, 138, 0.5);
  margin: 0;
  margin-left: 3vw;
  padding-left: 1vw;
  padding-right: 0.5vh;
  padding-top: 2vh;
  padding-bottom: calc(2vh);
  font-size: calc(3.5vh + 1.2vw);
  font-family: lazy_dog;
}

.content-container {
  background-color: white;
  border-radius: 25px;
}

.landing-container {
  min-height: 85vh;
  justify-content: space-around;
}

.landing-options-container {
  height: 20vh;
  justify-content: space-between;
  padding-top: 5vh;
  padding-bottom: 7vh;
}

.signup-form-container {
  height: 30vh;
  justify-content: space-between;
  margin-top: calc(1vh + 1vw);
  margin-bottom: 2vh;
}

.brief-instructions-container {
  flex-direction: row;
  align-items: flex-start;
  width: 90%;
  margin-top: calc(5vh + 2vw);
  margin-bottom: 2vh;
}

.brief-instructions-container div {
  justify-content: flex-start;
  height: 100%;
  padding: 10px;
}

.guess-container {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

.instruction {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: calc(0.8vh + 1vw);
}

.my-rooms-container {
  margin-top: 3vh;
  margin-bottom: 4vh;
  justify-content: space-between;
}

.my-rooms-row {
  padding-top: 10px;
  height: calc(5vh + 3vw);
  display: flex;
  width: 70%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.my-rooms-row a {
  height: 100%;
  width: 90%;
  margin-left: 5px;
  margin-right: 5px;
}

.my-rooms-button {
  height: 100%;
  width: 100%;
  background-color: #4daa57;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 0.5vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(0.5vh + 2vw);
}

.been-here {
  font-size: calc(1.5vh + 1vw);
  margin-bottom: 0;
}

.player-id-input {
  text-align: center;
  font-size: calc(2vh + 1vw);
  text-transform: uppercase;
}

.create-sub-container {
  margin: 2vh;
}

.create-info {
  margin: 0;
  padding: 0;
}

.invite-tooltip {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: calc(0.5vh + 1vw);
}

.events-textarea {
  font-size: calc(1vh + 1vw);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: calc(1vh + 1vw);
}

.signup-container {
  height: 70vh;
  display: flex;
  justify-content: space-between;
}

.roomName-container {
  max-width: 95%;
}

.room-name-input-container {
  flex-direction: row;
}

.spacer {
  width: 2vw;
  height: 2vh;
}

h2 {
  text-align: center;
  color: #33658A;
  margin: 0;
  font-size: calc(2vh + 4vw);
  font-family: lazy_dog;
}

h3 {
  text-align: center;
  color: #33658A;
  margin: 0;
  font-size: calc(2.5vh + 1vw);
  font-family: lazy_dog;
}

.or {
  text-align: center;
  color: #33658A;
  margin-top: 1vh;
  margin-bottom: 0.8vh;
  font-size: calc(3vh + 1vw);
  font-family: lazy_dog;
}

.room-button {
  background-color: #4daa57;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 2vh 3vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(1.5vh + 1vw);
}

.room-code {
  height: 100%;
  font-size: calc(2vh + 1vw);
  height: calc(2vh + 2vw);
  text-transform: uppercase;
}

.room-name-input {
  font-size: calc(1.5vh + 1vw);
}

.room-code-container h4 {
  padding: 4px;
  border: 2px solid black;
}

.room-code-container span {
  color: #33658A;
}

.submitEvent {
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: calc(1vh + 1vw); */
  background-color: #4daa57;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 2vh 2.5vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(1.5vh + .5vw);
}

.deleteEventButton {
  background-color: rgb(249, 8, 8);
  color: black;
  border: 1px solid black; 
  width: calc(2vh + 1vw); 
  height: calc(1vh + 1vw); 
  font-size: calc(1vh + 0.5vw); 
  margin-left: 1vw;
}

.duplicateRoomButton {
  width: calc(15vh + 15vw);
  background-color: #4daa57;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 2vh 3vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(1vh + 1vw);
}

.board {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.icons-container {
  flex-direction: row;
}

.trash {
  width: calc(5vh + 2vw);
}

.crown {
  height: calc(1vh + 1vw);
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  filter: invert(56%) sepia(79%) saturate(731%) hue-rotate(14deg) brightness(109%) contrast(110%);
}

.nametag {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crowns-container {
  flex-direction: row;
}

.copyText-container {
  display: flex;
  align-items: center;
  width: calc(40vw + 20vh);
  flex-direction: row;
}

.copyText {
  font-size: calc(1.5vh + 0.5vw);
  width: 100%;
  height: 13vh;
}

.copy {
  width: calc(2vh + 1vw);
}

.closeCopyText {
  margin-left: 1vh;
  font-size: calc(2vh);
  padding: 5px;
}

.add-button {
  background-color: white;
  border-style: none;
  padding: 0;
  margin: 0;
}

.add {
  width: calc(3vh + 1.5vw);
}

.addEvent-input {
  font-size: calc(1.5vh + 1vw);
}

.addEvent-container {
  margin-top: 1vh;
}

.refresh {
  width: calc(5vh + 2vw);
}

.refresh-button {
  background-color: white;
  border-style: none;
  padding: 0;
  margin: 0;
}

.trash-button {
  background-color: white;
  border-style: none;
  padding: 0;
  margin: 0;
}

.icon-label {
  text-decoration: none;
  text-align: center;
  opacity: 1;
  color: black;
  font-size: calc(0.7vh + 0.5vw);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.copy-button {
  background-color: white;
  border-style: none;
  padding: 0;
  margin: 0;
}

.view-selector {
  flex-direction: row;
}

.selected {
  background-color: #33658A;
  border: solid;
  border-color: #33658A;
  border-radius: 8px;
  color: white;
  /* padding: 1.5vh 2vh; */
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(1vh + 1vw);
}

.selected > a {
  color: white;
  text-decoration: none;
  font-family: lazy_dog;
  display: block;
  padding: 1.5vh 2vh;
}

.unselected {
  background-color: white;
  border: solid;
  border-radius: 8px;
  border-color: #33658A;
  color: #33658A;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(1vh + 1vw);
}

.unselected > a {
  color: #33658A;
  text-decoration: none;
  font-family: lazy_dog;
  display: block;
  padding: 1.5vh 2vh;
}

.grid-container {
  /* display: block;
  width: 50%;
  overflow: hidden; */
  padding-top: 2vh;
  padding-bottom: 2vh;
  justify-content: flex-start;
}

.board-grid-container {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.personal-board {
  background-color: black;
  border-style: solid;
  border-color: black;
  width: calc(30vh + 20vw);
  height: calc(30vh + 20vw);
  /* max-width: 390px;
  max-height: 390px; */
  min-width: 40vh;
  min-height: 40vh;
  display: grid;
  gap: 2px;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}

.personal-board-4 {
  background-color: black;
  border-style: solid;
  border-color: black;
  width: calc(30vh + 20vw);
  height: calc(30vh + 20vw);
  /* max-width: 390px;
  max-height: 390px; */
  min-width: 40vh;
  min-height: 40vh;
  display: grid;
  gap: 2px;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}

.personal-board-5 {
  background-color: black;
  border-style: solid;
  border-color: black;
  width: calc(30vh + 20vw);
  height: calc(30vh + 20vw);
  /* max-width: 390px;
  max-height: 390px; */
  min-width: 40vh;
  min-height: 40vh;
  display: grid;
  gap: 2px;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}

/* .blank-board-container {
  width: 90%;
} */

.blank-board {
  background-color: black;
  border-style: solid;
  border-color: black;
  width: calc(10vh + 6vw);
  height: calc(10vh + 6vw);
  display: grid;
  gap: 1px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.blank-board-4 {
  background-color: black;
  border-style: solid;
  border-color: black;
  width: calc(10vh + 6vw);
  height: calc(10vh + 6vw);
  display: grid;
  gap: 1px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.blank-board-5 {
  background-color: black;
  border-style: solid;
  border-color: black;
  width: calc(10vh + 6vw);
  height: calc(10vh + 6vw);
  display: grid;
  gap: 1px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.blank-square {
  background-color: white;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.pool-container {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.pool-item-container {
  padding: 1vh;
}

.pool-item {
  display: inline-block;
  text-align: center;
  width: 99%;
  color: black;
  margin: 2px;
  font-size: calc(1vh + 0.8vw);
  font-family: lazy_dog;
  overflow-wrap: break-word;
}

.square {
  background-color: white;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.square > input {
  font-size: calc(1vh + 1vw);
}

.chatbox-container {
  border-style: solid;
  border-color: black;
  min-height: 50vh;
  max-height: 60vh;
  width: calc(20vw + 30vh);
}

.chats-container {
  height: 100000px;
  justify-content: flex-start;
  flex-direction: column-reverse;
  background-color: lightgray;
  border-bottom: solid black 3px;
  overflow: auto;
}

.chat-container {
  width: 95%;
  align-items: start;
  padding: 2px;
  /* height: 4.5vh; */
  /* height: calc(3.5vh + 1.5vw); */
  height: fit-content;
  border-top: 1px solid gray;
}

.chat-submit {
  display: none;
  width: none;
}

span {
  font-family: lazy_dog;
  font-size: calc(1.5vh + 0.5vw);
}

.chat {
  margin-top: 12px;
  margin-bottom: 12px;
  max-width: 100%;
  overflow-wrap: break-word;
  font-size: calc(1.5vh + 0.5vw);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* .chat-input-container {
  display: grid;
  grid-template-columns: 1fr 0fr;
} */

/* .chat-input-container {
  display: block;
  overflow: hidden;
} */

.chat-input {
  width: 98%;
  border: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: calc(2vh + 1vw);
  border-left: 4px solid white;
}

textarea:focus, input:focus{
  outline: none;
}

.square-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.square-text {
  display: inline-block;
  width: 95%;
  color: black;
  margin: 2px;
  font-size: calc(1.5vh + 0.5vw);
  font-family: lazy_dog;
  overflow-wrap: break-word;
}

.square-text-4 {
  display: inline-block;
  width: 99%;
  color: black;
  margin: 2px;
  font-size: calc(1.3vh + 0.5vw);
  font-family: lazy_dog;
  overflow-wrap: break-word;
}

.square-text-5 {
  display: inline-block;
  width: 99%;
  color: black;
  margin: 2px;
  font-size: calc(1vh + 0.4vw);
  font-family: lazy_dog;
  overflow-wrap: break-word;
}

h4 {
  color: black;
  margin: 2px;
  font-size: calc(1.5vh + 0.5vw);
  font-family: lazy_dog;
  overflow-wrap: break-word;
}

.square div {
  width: 100%;
  text-align: center;
  padding: 10px;
}

h2 {
  text-align: center;
  font-size: calc(3.5vh + 3vw);
}

.boardGrid {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}